/* Spyder-specific theme customization */

$font-stack: Raleway, Arial, sans-serif;
$font-stack-mono: Inconsolata, Consolas, "Liberation Mono", monospace;

$body-color: #212121;
$accent-color: #d50000;
$accent-dark-color: #8c0000;
$accent-alt-color: #1c4489;
$bg-color: #ffffff;
$bg-alt-color: #ededed;
$fg-alt-color: #333;
$mono-color: #e83e8c;


/* Define styles for basic reST elements */

body {
  color: $body-color;
  font-family: $font-stack;
  font-size: 18px;
  font-weight: 300;
  line-height: 1.9;
  padding-top: 80px;
}

a {
  color: $accent-color;
  transition: 0.5s;
}

a:hover, a:focus, a:active {
  color: $accent-color;
}

b, strong {
  color: $body-color;
  font-family: $font-stack;
  font-weight: 600;
}

code, pre, samp {
  color: $mono-color;
  font-family: $font-stack-mono;
}

h1, h2, h3, h4, h5, h6 {
  color: $body-color;
  font-family: $font-stack;
  margin-bottom: 30px;
}

kbd, kbd kbd {
  color: $body-color;
  font-family: $font-stack-mono;
  font-weight: normal;
}

kbd {
  background-color: $bg-color;
  padding: 0rem 0.1rem;
}

kbd kbd {
  background-color: $bg-alt-color;
  padding: 0.2rem 0.4rem;
}

.guilabel,
.menuselection {
  background-color: $bg-alt-color;
  border-radius: 0.2rem;
  color: $accent-alt-color;
  font-family: $font-stack;
  font-weight: normal;
  padding: 0.1rem 0.2rem;
}


/* Styles ported from the Spyder IDE main website stylesheet */

.btn {
  border-radius: 100px;
  font-family: $font-stack;
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 2px;
  margin-right: 4px;
  text-transform: uppercase;
  transition: 0.5s;
}

.btn:hover, .btn:active, .btn:focus {
  box-shadow: none !important;
  outline: none !important;
}

.form-control {
  box-shadow: none;
  background: transparent;
  border: 1px solid rgba(0, 0, 0, 0.15);
  font-weight: 300;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#open_chat {
  background-color: $accent-color;
  font-weight: bold;
}

.pipe-red {
  color: $accent-color;
  font-weight: bold;
}

/* Custom styles specific to the theme */

#doc-content {
    font-size: 15px;
}

.form-control {
    font-size: 90%;
    height: auto;
}

@media (min-width: 1200px) {
    .container {
        max-width: 1280px;
    }
}

.footer {
    line-height: 1.2;
    font-size: 16px;
    background-color: $fg-alt-color;
    color: white;
    a {
        color: white;
        font-weight: bold;
    }
    .text-center {
        margin: 0px;
    }
}

.donate {
    width: 100%;
}

.guilabel,
.menuselection {
    font-family: Arial, sans-serif;
    font-weight: 200;
}

.navbar > .container {
  padding-left: 0;
  padding-right: 0;
}

.navbar-brand {
  padding-bottom: 16px;
  padding-top: 16px;
}

#navbar-menu {
  font-size: 12px;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.navbar-light {
  box-shadow: 0 0 7px 0 rgba(0, 0, 0, 0.589) !important;
}

.navbar-light .navbar-nav .nav-link {
  color: $fg-alt-color;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  padding-left: 0;
  padding-right: 0;
  position: relative;
}

.navbar-nav .nav-link-active-section {
  font-weight: bold;
}

.navbar-nav .nav-link-active-page::after {
  background: $accent-color;
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  position: absolute;
  width: 100%;
}

div.prev-next-bottom {
  & a.prev-next-link {
    border: 0;
    color: $accent-color;
    text-transform: uppercase;

    &:hover, &:active, &:focus {
      color: $accent-color;
    }

    &::before, &::after {
      content: none;
    }
  }
}
