/* Styles ported from the Spyder IDE main website stylesheet */

$font-stack: Raleway, Arial, sans-serif;
$primary-color: #d50000;
$pipe-color: #ee1c24;
$fg-alt-color: #333;

body {
  color: rgb(78, 78, 78);
  font-family: $font-stack;
  font-size: 18px;
  font-weight: 300;
  line-height: 1.9;
  padding-top: 80px;
}

a {
  color: $primary-color;
  transition: 0.5s;
}

a:hover, a:focus, a:active {
  color: $primary-color;
}

h1, h2, h3, h4, h5, h6 {
  color: #000000;
  font-family: $font-stack;
  margin-bottom: 30px;
}

.btn {
  border-radius: 100px;
  font-family: $font-stack;
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 2px;
  margin-right: 4px;
  text-transform: uppercase;
  transition: 0.5s;
}

.btn:hover, .btn:active, .btn:focus {
  box-shadow: none !important;
  outline: none !important;
}

.form-control {
  box-shadow: none;
  background: transparent;
  border: 1px solid rgba(0, 0, 0, 0.15);
  font-weight: 300;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#open_chat {
  background-color: $primary-color;
  font-weight: bold;
}

.pipe-red {
  color: $pipe-color;
  font-weight: bold;
}

/* Custom styles specific to the theme */

#doc-content {
    font-size: 15px;
}

.form-control {
    font-size: 90%;
    height: auto;
}

@media (min-width: 1200px) {
    .container {
        max-width: 1280px;
    }
}

.footer {
    line-height: 1.2;
    font-size: 16px;
    background-color: $fg-alt-color;
    color: white;
    a {
        color: white;
        font-weight: bold;
    }
    .text-center {
        margin: 0px;
    }
}

.donate {
    width: 100%;
}

.guilabel,
.menuselection {
    font-family: Arial, sans-serif;
    font-weight: 200;
}

.navbar > .container {
  padding-left: 0;
  padding-right: 0;
}

.navbar-brand {
  padding-bottom: 16px;
  padding-top: 16px;
}

#navbar-menu {
  font-size: 12px;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.navbar-light {
  box-shadow: 0 0 7px 0 rgba(0, 0, 0, 0.589) !important;
}

.navbar-light .navbar-nav .nav-link {
  color: $fg-alt-color;
}

div.prev-next-bottom {
  & a.prev-next-link {
    border: 0;
    color: $primary-color;
    text-transform: uppercase;

    &:hover, &:active, &:focus {
      color: $primary-color;
    }

    &::before, &::after {
      content: none;
    }
  }
}
